@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ActionHistory";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">ActionHistory</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">


                        <div class="form-group col-md-3">
                            <label id='lab_s_ActionHistory_actionDate' for='s_ActionHistory_actionDate'>วันที่ทำ กิจกรรม</label>
                            <input class="form-control" type="text" id="s_ActionHistory_actionDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่ทำ กิจกรรม" iRequire="true" iGroup="s_ActionHistory" title='วันที่ทำ กิจกรรม' placeholder='วันที่ทำ กิจกรรม' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_ActionHistory_note' for='s_ActionHistory_note'>รายละเอียดเพิ่มเติม</label>
                            <textarea  class="form-control" rows="4" cols="50" id="s_ActionHistory_note" iLabel="รายละเอียดเพิ่มเติม" iRequire="true" iGroup="s_ActionHistory" title='รายละเอียดเพิ่มเติม' placeholder='รายละเอียดเพิ่มเติม'></textarea>
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_ActionHistory_userId' for='s_ActionHistory_userId'>ผู้ให้ข้อมูล</label>
                            <select class="form-control" id="s_ActionHistory_userId" iLabel="ผู้ให้ข้อมูล" iRequire="true" iGroup="s_ActionHistory" title='ผู้ให้ข้อมูล' placeholder='ผู้ให้ข้อมูล'></select>
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_ActionHistory_actionId' for='s_ActionHistory_actionId'>ประเภทกิจกรรม</label>
                            <select class="form-control" id="s_ActionHistory_actionId" iLabel="ประเภทกิจกรรม" iRequire="true" iGroup="s_ActionHistory" title='ประเภทกิจกรรม' placeholder='ประเภทกิจกรรม'></select>
                        </div>
  


                    <div class="form-group col-sm-6">
                        <button class="btn btn-primary" onclick="javascript:ActionHistory_DoSearch('pdf');">แสดงรายงาน</button>
                        <button class="btn btn-primary" onclick="javascript:ActionHistory_DoSearch('xlsx');">ดาวน์โหลดเป็น Excel</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe id="report_result" style="display:none; height:500px; width:100%;"></iframe>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/ActionHistory/ActionHistory_report.js"></script>
    <script>
        $(document).ready(function () {
            ActionHistory_InitialForm();
            SetupValidationRemark("s_ActionHistory");
        });
    </script>
}

