@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Place";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Place</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">


                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_name' for='s_Place_name'>ชื่อเรียกจุดที่พบ</label>
                            <input class="form-control" type="text" id="s_Place_name" iLabel="ชื่อเรียกจุดที่พบ" iRequire="true" iGroup="s_Place" title='ชื่อเรียกจุดที่พบ' placeholder='ชื่อเรียกจุดที่พบ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_province' for='s_Place_province'>จังหวัด</label>
                            <input class="form-control" type="text" id="s_Place_province" iLabel="จังหวัด" iRequire="true" iGroup="s_Place" title='จังหวัด' placeholder='จังหวัด' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_amphor' for='s_Place_amphor'>อำเภอ</label>
                            <input class="form-control" type="text" id="s_Place_amphor" iLabel="อำเภอ" iRequire="true" iGroup="s_Place" title='อำเภอ' placeholder='อำเภอ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_tumbon' for='s_Place_tumbon'>ตำบล</label>
                            <input class="form-control" type="text" id="s_Place_tumbon" iLabel="ตำบล" iRequire="true" iGroup="s_Place" title='ตำบล' placeholder='ตำบล' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_riverName' for='s_Place_riverName'>ชื่อแม่น้ำ</label>
                            <input class="form-control" type="text" id="s_Place_riverName" iLabel="ชื่อแม่น้ำ" iRequire="true" iGroup="s_Place" title='ชื่อแม่น้ำ' placeholder='ชื่อแม่น้ำ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_nearbyPlace' for='s_Place_nearbyPlace'>สถานที่ใกล้เคียง</label>
                            <input class="form-control" type="text" id="s_Place_nearbyPlace" iLabel="สถานที่ใกล้เคียง" iRequire="true" iGroup="s_Place" title='สถานที่ใกล้เคียง' placeholder='สถานที่ใกล้เคียง' />
                        </div>
  


                    <div class="form-group col-sm-6">
                        <button class="btn btn-primary" onclick="javascript:Place_DoSearch('pdf');">แสดงรายงาน</button>
                        <button class="btn btn-primary" onclick="javascript:Place_DoSearch('xlsx');">ดาวน์โหลดเป็น Excel</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe id="report_result" style="display:none; height:500px; width:100%;"></iframe>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Place/Place_report.js"></script>
    <script>
        $(document).ready(function () {
            Place_InitialForm();
            SetupValidationRemark("s_Place");
        });
    </script>
}

