@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Place";
}

<div class="modal fade" id="PlaceModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="PlaceModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PlaceModelLabel">บันทึกข้อมูล Place</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="Place_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-8">
	    <label id="lab_Place_name" for="Place_name">ชื่อเรียกจุดที่พบ</label>
	    <input class="form-control" type="text" id="Place_name" iLabel="ชื่อเรียกจุดที่พบ" iRequire="true" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Place_province" for="Place_province">จังหวัด</label>
	    <input class="form-control" type="text" id="Place_province" iLabel="จังหวัด" iRequire="true" iGroup="Place"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Place_amphor" for="Place_amphor">อำเภอ</label>
	    <input class="form-control" type="text" id="Place_amphor" iLabel="อำเภอ" iRequire="true" iGroup="Place"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Place_tumbon" for="Place_tumbon">ตำบล</label>
	    <input class="form-control" type="text" id="Place_tumbon" iLabel="ตำบล" iRequire="true" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Place_riverName" for="Place_riverName">ชื่อแม่น้ำ</label>
	    <input class="form-control" type="text" id="Place_riverName" iLabel="ชื่อแม่น้ำ" iRequire="true" iGroup="Place"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Place_nearbyPlace" for="Place_nearbyPlace">สถานที่ใกล้เคียง</label>
	    <input class="form-control" type="text" id="Place_nearbyPlace" iLabel="สถานที่ใกล้เคียง" iRequire="true" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Place_locationLat" for="Place_locationLat">Lat</label>
	    <input class="form-control" type="text" id="Place_locationLat" iLabel="Lat" iRequire="true" iGroup="Place"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Place_locationLong" for="Place_locationLong">Long</label>
	    <input class="form-control" type="text" id="Place_locationLong" iLabel="Long" iRequire="true" iGroup="Place"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Place_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Place</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_name' for='s_Place_name'>ชื่อเรียกจุดที่พบ</label>
                            <input class="form-control" type="text" id="s_Place_name" iLabel="ชื่อเรียกจุดที่พบ" iRequire="true" iGroup="s_Place" title='ชื่อเรียกจุดที่พบ' placeholder='ชื่อเรียกจุดที่พบ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_province' for='s_Place_province'>จังหวัด</label>
                            <input class="form-control" type="text" id="s_Place_province" iLabel="จังหวัด" iRequire="true" iGroup="s_Place" title='จังหวัด' placeholder='จังหวัด' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_amphor' for='s_Place_amphor'>อำเภอ</label>
                            <input class="form-control" type="text" id="s_Place_amphor" iLabel="อำเภอ" iRequire="true" iGroup="s_Place" title='อำเภอ' placeholder='อำเภอ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_tumbon' for='s_Place_tumbon'>ตำบล</label>
                            <input class="form-control" type="text" id="s_Place_tumbon" iLabel="ตำบล" iRequire="true" iGroup="s_Place" title='ตำบล' placeholder='ตำบล' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_riverName' for='s_Place_riverName'>ชื่อแม่น้ำ</label>
                            <input class="form-control" type="text" id="s_Place_riverName" iLabel="ชื่อแม่น้ำ" iRequire="true" iGroup="s_Place" title='ชื่อแม่น้ำ' placeholder='ชื่อแม่น้ำ' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_Place_nearbyPlace' for='s_Place_nearbyPlace'>สถานที่ใกล้เคียง</label>
                            <input class="form-control" type="text" id="s_Place_nearbyPlace" iLabel="สถานที่ใกล้เคียง" iRequire="true" iGroup="s_Place" title='สถานที่ใกล้เคียง' placeholder='สถานที่ใกล้เคียง' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:Place_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:Place_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:Place_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="PlaceTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_Place_name'>ชื่อเรียกจุดที่พบ</label></th>
            <th><label id='h_Place_province'>จังหวัด</label></th>
            <th><label id='h_Place_amphor'>อำเภอ</label></th>
            <th><label id='h_Place_tumbon'>ตำบล</label></th>
            <th><label id='h_Place_riverName'>ชื่อแม่น้ำ</label></th>
            <th><label id='h_Place_nearbyPlace'>สถานที่ใกล้เคียง</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Place/Place.js"></script>
    <script>
        $(document).ready(function () {
            Place_InitiateDataTable();
            Place_InitialForm();
            SetupValidationRemark("Place");
        });
    </script>
}

