@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Place";
    Layout = "_LayoutDirect";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">Place</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">       

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">บันทึกข้อมูล Place</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
	<input class="form-control" type="hidden" id="Place_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-8">
	    <label id="lab_Place_name" for="Place_name">ชื่อเรียกจุดที่พบ</label>
	    <input class="form-control" type="text" id="Place_name" iLabel="ชื่อเรียกจุดที่พบ" iRequire="false" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_Place_province" for="Place_province">จังหวัด</label>
	    <input class="form-control" type="text" id="Place_province" iLabel="จังหวัด" iRequire="false" iGroup="Place"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Place_amphor" for="Place_amphor">อำเภอ</label>
	    <input class="form-control" type="text" id="Place_amphor" iLabel="อำเภอ" iRequire="false" iGroup="Place"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_Place_tumbon" for="Place_tumbon">ตำบล</label>
	    <input class="form-control" type="text" id="Place_tumbon" iLabel="ตำบล" iRequire="false" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Place_riverName" for="Place_riverName">ชื่อแม่น้ำ</label>
	    <input class="form-control" type="text" id="Place_riverName" iLabel="ชื่อแม่น้ำ" iRequire="false" iGroup="Place"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Place_nearbyPlace" for="Place_nearbyPlace">สถานที่ใกล้เคียง</label>
	    <input class="form-control" type="text" id="Place_nearbyPlace" iLabel="สถานที่ใกล้เคียง" iRequire="false" iGroup="Place"  />
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-6">
	    <label id="lab_Place_locationLat" for="Place_locationLat">Lat</label>
	    <input class="form-control" type="text" id="Place_locationLat" iLabel="Lat" iRequire="false" iGroup="Place"  />
    </div>

    <div class="form-group col-md-6">
	    <label id="lab_Place_locationLong" for="Place_locationLong">Long</label>
	    <input class="form-control" type="text" id="Place_locationLong" iLabel="Long" iRequire="false" iGroup="Place"  />
    </div>
</div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window_close()" style="background-color: #fff;">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:Place_PutUpdate()">บันทึก</button>
            </div>
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/Place/Place_d.js"></script>
    <script>
        $(document).ready(function () {
            var id = getUrlParameter("id");
            if (id) {
                Place_SetEditForm(id);
            } else {
                Place_SetCreateForm();
            }
            SetupValidationRemark("Place");
        });
    </script>
}

