@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "FoundHistory";
}

<div class="modal fade" id="FoundHistoryModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="FoundHistoryModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FoundHistoryModelLabel">บันทึกข้อมูล FoundHistory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="FoundHistory_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_FoundHistory_foundDate" for="FoundHistory_foundDate">วันที่พบ</label>
	    <input class="form-control" type="text" id="FoundHistory_foundDate" data-provide="datepicker" data-date-language="th-th" iLabel="วันที่พบ" iRequire="true" iGroup="FoundHistory"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_FoundHistory_userId" for="FoundHistory_userId">ผู้ให้ข้อมูล</label>
	    <select class="form-control" id="FoundHistory_userId" iLabel="ผู้ให้ข้อมูล" iRequire="true" iGroup="FoundHistory" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_FoundHistory_placeId" for="FoundHistory_placeId">ตำแหน่งที่พบ</label>
	    <select class="form-control" id="FoundHistory_placeId" iLabel="ตำแหน่งที่พบ" iRequire="true" iGroup="FoundHistory" ></select>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-4">
	    <label id="lab_FoundHistory_countTypeId" for="FoundHistory_countTypeId">วิธีนับจำนวน</label>
	    <select class="form-control" id="FoundHistory_countTypeId" iLabel="วิธีนับจำนวน" iRequire="true" iGroup="FoundHistory" ></select>
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_FoundHistory_totalFound" for="FoundHistory_totalFound">จำนวนที่พบ</label>
	    <select class="form-control" id="FoundHistory_totalFound" iLabel="จำนวนที่พบ" iRequire="true" iGroup="FoundHistory" ></select>
    </div>
</div>
<div class='row'>
    <div class="form-group col-md-12">
	    <label id="lab_FoundHistory_note" for="FoundHistory_note">รายละเอียดเพิ่มเติม</label>
	    <textarea  class="form-control" rows="4" cols="50" id="FoundHistory_note" iLabel="รายละเอียดเพิ่มเติม" iRequire="true" iGroup="FoundHistory" ></textarea>
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:FoundHistory_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">FoundHistory</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_FoundHistory_note' for='s_FoundHistory_note'>รายละเอียดเพิ่มเติม</label>
                            <textarea  class="form-control" rows="4" cols="50" id="s_FoundHistory_note" iLabel="รายละเอียดเพิ่มเติม" iRequire="true" iGroup="s_FoundHistory" title='รายละเอียดเพิ่มเติม' placeholder='รายละเอียดเพิ่มเติม'></textarea>
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:FoundHistory_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:FoundHistory_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:FoundHistory_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="FoundHistoryTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_FoundHistory_foundDate'>วันที่พบ</label></th>
            <th><label id='h_FoundHistory_countTypeId'>วิธีนับจำนวน</label></th>
            <th><label id='h_FoundHistory_placeId'>ตำแหน่งที่พบ</label></th>
            <th><label id='h_FoundHistory_totalFound'>จำนวนที่พบ</label></th>
            <th><label id='h_FoundHistory_note'>รายละเอียดเพิ่มเติม</label></th>
            <th><label id='h_FoundHistory_userId'>ผู้ให้ข้อมูล</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/FoundHistory/FoundHistory.js"></script>
    <script>
        $(document).ready(function () {
            FoundHistory_InitiateDataTable();
            FoundHistory_InitialForm();
            SetupValidationRemark("FoundHistory");
        });
    </script>
}

