@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "CountGroup";
}

<div class="modal fade" id="CountGroupModel" style="z-index:1500" tabindex="-1" role="dialog" aria-labelledby="CountGroupModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CountGroupModelLabel">บันทึกข้อมูล CountGroup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

<input class="form-control" type="hidden" id="CountGroup_id" />

<div class='row'></div>
<div class='row'></div>
<div class='row'>
    <div class="form-group col-md-8">
	    <label id="lab_CountGroup_name" for="CountGroup_name">ประมาณการ จำนวนที่พบ</label>
	    <input class="form-control" type="text" id="CountGroup_name" iLabel="ประมาณการ จำนวนที่พบ" iRequire="true" iGroup="CountGroup"  />
    </div>

    <div class="form-group col-md-4">
	    <label id="lab_CountGroup_nearbyCount" for="CountGroup_nearbyCount">เทียบได้เป็นจำนวน</label>
	    <input class="form-control" type="text" oninput="formatInputNumber(this)" id="CountGroup_nearbyCount" iLabel="เทียบได้เป็นจำนวน" iRequire="true" iGroup="CountGroup"  />
    </div>
</div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" onclick="javascript:CountGroup_PutUpdate()">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">CountGroup</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
        
                        <div class="form-group col-md-3">
                            <label id='lab_s_CountGroup_name' for='s_CountGroup_name'>ประมาณการ จำนวนที่พบ</label>
                            <input class="form-control" type="text" id="s_CountGroup_name" iLabel="ประมาณการ จำนวนที่พบ" iRequire="true" iGroup="s_CountGroup" title='ประมาณการ จำนวนที่พบ' placeholder='ประมาณการ จำนวนที่พบ' />
                        </div>


                    <div class="form-group col-sm-3">
                        <button class="btn btn-info" onclick="javascript:CountGroup_DoSearch();"><i class="fa fa-search" style="font-size: 14px;"></i> ค้นหา</button>
                        <button class="btn btn-info" onclick="javascript:CountGroup_GoCreate();"><i class="fa fa-plus" style="font-size: 14px;"></i> เพิ่มรายการ</button>
                        <button style="display:none;" class="btn btn-info" onclick="javascript:CountGroup_GetSelect('id');">ดึงตัวเลือก</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="CountGroupTable" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <!--<th>เลือก</th>-->
                                    <th>เครื่องมือ</th>
            <th><label id='h_CountGroup_name'>ประมาณการ จำนวนที่พบ</label></th>
            <th><label id='h_CountGroup_nearbyCount'>เทียบได้เป็นจำนวน</label></th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/CountGroup/CountGroup.js"></script>
    <script>
        $(document).ready(function () {
            CountGroup_InitiateDataTable();
            CountGroup_InitialForm();
            SetupValidationRemark("CountGroup");
        });
    </script>
}

