@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "User";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Configuration["SiteInformation:modulename"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]">หน้าแรก</a></li>
                    <li class="breadcrumb-item "><a href="@Configuration["SiteInformation:mainsite"]@Configuration["SiteInformation:appsite"]">@Configuration["SiteInformation:modulename"]</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">


                        <div class="form-group col-md-3">
                            <label id='lab_s_User_nickname' for='s_User_nickname'>ชื่อเรียก</label>
                            <input class="form-control" type="text" id="s_User_nickname" iLabel="ชื่อเรียก" iRequire="true" iGroup="s_User" title='ชื่อเรียก' placeholder='ชื่อเรียก' />
                        </div>

                        <div class="form-group col-md-3">
                            <label id='lab_s_User_phone' for='s_User_phone'>โทรศัพท์</label>
                            <input class="form-control" type="text" id="s_User_phone" iLabel="โทรศัพท์" iRequire="true" iGroup="s_User" title='โทรศัพท์' placeholder='โทรศัพท์' />
                        </div>
  


                    <div class="form-group col-sm-6">
                        <button class="btn btn-primary" onclick="javascript:User_DoSearch('pdf');">แสดงรายงาน</button>
                        <button class="btn btn-primary" onclick="javascript:User_DoSearch('xlsx');">ดาวน์โหลดเป็น Excel</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <iframe id="report_result" style="display:none; height:500px; width:100%;"></iframe>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->

</section>
<!-- /.content -->

@section FooterPlaceHolder{
    <script src="~/js/User/User_report.js"></script>
    <script>
        $(document).ready(function () {
            User_InitialForm();
            SetupValidationRemark("s_User");
        });
    </script>
}

